@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-primary: #01305f;
  --color-secondary: 	#a12241;
  --color-accent: #56ACCB;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-accent:var(--color-accent);
  --font-sans: var(--font-inter);
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

.cl-userButtonBox {
  width: 40px !important;
  height: 40px !important;
  border-radius: 50% !important;
  background-color: #01305f !important; 
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  overflow: hidden !important;
}


.cl-internal-1eejwbq{
  background-color: #01305f !important;
}
.cl-internal-1jnae1p{
    background-color: #01305f !important;
}


.cl-internal-l2l775{
 background-color: #01305f !important; 
}
.cl-internal-1k7jtru{
  display: none !important;
}
.cl-internal-pe6vm4{
  display: none !important;
}


